<div class="app-img-header">

</div>
<div class="container" style="background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.5);">
  <div class="row">
    <div class="col-md-6">
      <h3 md-subheader class="h-titulo">Sucos de Polpa</h3>
      <div class="table-responsive">
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioSucosPolpa">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 md-subheader class="h-titulo">Cerveja Long Neck</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioLongNeck">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 md-subheader class="h-titulo">Suco de Frutas</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioSucoFrutas">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 md-subheader class="h-titulo">Vinhos</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioVinhos">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h3 md-subheader class="h-titulo">Cerveja 600</h3>
      <div class="table-responsive">
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioCerveja600">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 md-subheader class="h-titulo">Refrigerante</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioRefrigerante">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 md-subheader class="h-titulo">Bebidas Sem Alcool</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioBebidasSemAlcool">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 md-subheader class="h-titulo">Bebidas Alcoólicas (Doce)</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th>Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioBebidasSemAlcool">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>