@import '../cardapio.component.css';

.app-img-header{
    background: url('../../../../../assets/header/img-header.jpg') center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}