
@media (min-width: 800px){    
    h2.h-titulo {
    background: #fff;
    box-shadow: 2px 8px 1px rgba(0,0,0,0.4), -2px 8px 1px rgba(0,0,0,0.4);
    padding: 50px;
    margin-left: -200px;
    margin-top: 20px;
    font-family: 'quintessentialregular';
    color: #ff9800;
}

}


.mat-card-header{
    background: #FFB74D;
    color: #fff;
    box-shadow: 2px 8px 1px rgba(0,0,0,0.4), -2px 8px 1px rgba(0,0,0,0.4);
    justify-content: center;
    padding-top: 10px;
}

.card-title, mat-card-header-text {
    text-align: center !important;
    width: 100% !important;
}
.mat-card-title, mat-card-header-text {
font-size: 1.8rem !important;
font-family: 'quintessentialregular';
 width: 100% !important;
}