<app-slide></app-slide>

<div class="container" style="background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.5);">
    <div class="row">
        <div class="col-md-8" style="overflow: hidden">
            <img md-card-image src="../../../../assets/sobre/02.jpg">
        </div>

        <div class="col-md-4 d-flex align-items-center">
            <h2 class="h-titulo"> Restaurante, Churrascaria e Pizzaria Flor do Jardins une boa comida e serviço de qualidade</h2>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a [routerLink]="['/cardapio', 'pizzas']">
                <md-card class="example-card">
                    <md-card-header>
                        <md-card-title>
                            Pizzas
                        </md-card-title>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/home/pizza.jpg">
                </md-card>
            </a>

        </div>
        <div class="col-md-4">
            <a [routerLink]="['/cardapio', 'pratos']">
                <md-card class="example-card">
                    <md-card-header>
                        <md-card-title>
                            <div class="card-title">Carnes</div>
                        </md-card-title>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/home/carne.jpg">
                </md-card>
            </a>
        </div>
        <div class="col-md-4">
            <a [routerLink]="['/cardapio', 'bebidas']">
                <md-card class="example-card">
                    <md-card-header>
                        <md-card-title>
                            <div class="card-title">Bebidas</div>
                        </md-card-title>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/home/bebidas.jpg">
                </md-card>
            </a>
        </div>
    </div>
</div>