<footer class="page-footer blue darken-3">
    <div class="footer-copyright blue darken-4">
        <div class="container" style="text-align: center;">
            © 2017 Copyright Flor do Jardins
            <a class="grey-text text-lighten-4 right" href="http://avatarb2b.com.br" target="_blank">Desenvolvido por Avatar B2B</a>
        </div>
    </div>
</footer>