<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active ">
            <img src="../../../../assets/slide/01.jpg" alt="" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/slide/02.jpg" alt="" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/slide/03.jpg" alt="" class="d-block img-fluid">
        </div>
    </div>
</div>
