.conteiner-main{
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

md-sidenav-container {
    height: 100%;
}

.mat-toolbar {
    min-height: 64px;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.navbar-container {
height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    padding: 0px !important;
    margin: 0px !important;
    width: 200px;
    height: 65px;
    float: left;
    z-index: 1;
}

.menu-itens{
   float:left;
}

.menu-itens a {
    color: #fff !important;
    font-size: 1rem !important;
}


@media (max-width: 991px){
    .mat-toolbar {
     padding: 0 0 0 16px !important; 
}

.sidnav-menu{
    min-width: 60px;
    display: block;
    float:right;
    background: #fff;
    height: 100%;
    border-radius: 0;
}

.navbar-container {
height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: space-between;
    align-items: center;
}

.menu-itens{
    display: none;
}

}

@media (min-width: 991px){
.sidnav-menu{
    display: none;
    float:right;
    }
}

@media only screen and (min-width:601px) {
    .container-menu {
        width: 85%;
    }
}

@media only screen and (min-width:993px) {
    .container-menu {
        width: 70%;
    }
}

.item-menu-lateral{
box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
    
}

.md-sidenav-container {
  width: 100%;
  height: 100%;
}


