<div class="mine-container">
    <md-sidenav-container class="md-sidenav-container">
        <md-sidenav #sidenav class="example-sidenav">
            <md-nav-list>
                <a class="item-menu-lateral" md-list-item [routerLink]="['inicio']" (click)="sidenav.toggle()">Inicio</a>
                <a class="item-menu-lateral" md-list-item [routerLink]="['sobre']" (click)="sidenav.toggle()">Sobre</a>
                <a class="item-menu-lateral" md-list-item [routerLink]="['cardapio', 'pizzas']" (click)="sidenav.toggle()">Pizzas</a>
                <a class="item-menu-lateral" md-list-item [routerLink]="['cardapio', 'bebidas']" (click)="sidenav.toggle()">Bebidas</a>
                <a class="item-menu-lateral" md-list-item [routerLink]="['cardapio', 'pratos']" (click)="sidenav.toggle()">Pratos</a>
                <a class="item-menu-lateral" md-list-item [routerLink]="['contato']" (click)="sidenav.toggle()">Contato</a>
            </md-nav-list>
        </md-sidenav>

        <md-toolbar class="bg-orange ">
            <div class="navbar-container">
                <a class="navbar-logo" href="#">
    <img src="../../../../assets/logo/logo-header.png" alt="Flor do Jardins" class="responsive-img logo-header" />
    </a>
                <span class="example-fill-remaining-space"></span>
                <div class="menu-itens">
                    <a md-button [routerLink]="['inicio']">Inicio</a>
                    <a md-button [routerLink]="['sobre']">Sobre</a>
                    <a md-button [routerLink]="['cardapio', 'pizzas']">Pizzas</a>
                    <a md-button [routerLink]="['cardapio', 'bebidas']">Bebidas</a>
                    <a md-button [routerLink]="['cardapio', 'pratos']">Pratos</a>
                    <a md-button [routerLink]="['contato']">Contato</a>
                </div>
                <button class="sidnav-menu" md-button (click)="sidenav.toggle()">
     <md-icon>reorder</md-icon>
    </button>
            </div>
        </md-toolbar>
        <div class="mine-container">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </md-sidenav-container>
</div>