<div class="app-img-header">

</div>
<div class="container">
  <h1 md-subheader class="h-titulo">Pizzas</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th width="50">Cod.</th>
              <th>Sabor</th>
              <th>Ingrediente</th>
              <th>Pequena</th>
              <th>Media</th>
              <th>Grande</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioPizza">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <p class="cardapio-ingredientes"> {{cardapio.ingredientes}} </p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valorDois}}</span>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valorTres}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>