<div class=" app-img-header">
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d979.3587140235537!2d-37.051451832610326!3d-10.930487443892687!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x445d42085cf0f68f!2sRestaurante+Flor+do+Jardins!5e0!3m2!1spt-BR!2sbr!4v1499283316739"
            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div class="container" style="background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.5); padding: 50px;">
    <div class="row">
        <div class="col-md-6">
            <md-input-container class="input-full-width">
                <input mdInput placeholder="Nome" value="">
            </md-input-container>
            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="input-full-width">
                        <input mdInput placeholder="Email" value="">
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="input-full-width">
                        <input mdInput placeholder="Telefone" value="">
                    </md-input-container>
                </div>
            </div>
            <md-input-container class="input-full-width">
                <textarea mdInput placeholder="Mensagem" value=""> </textarea>
            </md-input-container>

            <button md-raised-button color="primary" class="input-full-width" >Enviar</button>
        </div>

        <div class="col-md-6 endereco">
            <p>
                <i class="material-icons">location_on</i> Rua Homero de Oliveira, 67 - Treze de Julho, Aracaju - SE, 49020-190
            </p>
            <p><i class="material-icons">settings_phone</i> (79) 3246-4401</p>
        </div>

    </div>
</div>