md-list-item {   
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}

.cardapio-titulo{
    width: 100%;
    color: #818181;
    font-size: 1.2rem !important;
     position: relative;    
}

.cardapio-valor{
    color: #f45521;
    margin-left: 15px;
    width: 100px;
     display: inline-block;
}

.cardapio-valor .moeda{
    font-size: 1rem !important;
}

.cardapio-ingredientes{
    width: 100%;
    color: #818181;
    position: relative;
    font-size: 1rem !important;
}


.h-titulo{
    font-family: 'quintessentialregular';
    text-align: center;
    color:#000000;
}