.app-img-header{
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    z-index: -10;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    z-index: -100;
}

@media (max-width: 991px){
.app-img-header{
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: center;
    z-index: -100;
}

}