<div class="app-img-header">

</div>
<div class="container" style="background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.5);">

  <div class="row">
    <div class="col-md-6">
      <h3 md-subheader class="h-titulo">Porções</h3>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th width="50">Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioPorcoes">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 md-subheader class="h-titulo">Sopas</h3>
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th width="50">Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioSopas">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-md-6">
      <h3 md-subheader class="h-titulo">Caldinhos</h3>
      <div class="table-responsive">
        <table class="table  table-hover table-striped">
          <thead>
            <tr>
              <th width="50">Cod.</th>
              <th>Item</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardapio of cardapioCaldinhos">
              <td>
                {{cardapio.id }}
              </td>
              <td>
                <p class="cardapio-titulo"> {{cardapio.item }}</p>
              </td>
              <td>
                <span class=" cardapio-valor "><span class="moeda">R$</span> {{cardapio.valor }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>