/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body,
app-root,
main {
    width: 100%;
    height: 100%;
}


body{
    background: #d0d0d0;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
 display:block !important;
}


/*===FONTS=====*/
@font-face {
    font-family: 'quintessentialregular';
    src: url('assets/fonts/quintessential-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/quintessential-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bg-orange{
    background: #FFB74D;
}
