<div class="app-img-header">

</div>

<div class="container" style="background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.5); padding: 50px;">
  <h2 class="h-titulo"> Restaurante, Churrascaria e Pizzaria Flor do Jardins une boa comida e serviço de qualidade</h2>
  <div class="row">
    <p class="sub-titulo">Localizada no bairro do Treze de Julho, Rua Homero de Oliveira, nº 180, conta com um ambiente casual que prioriza a praticidade
      com buffet “self service” de saladas e guarnições, além do rodízio com diversas opções de carne, frango, queijos e
      lingüiças.
    </p>

    <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/01.jpg">
      </md-card>
    </div>

    <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/02.jpg">
      </md-card>
    </div>

    <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/03.jpg">
      </md-card>
    </div>

    <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/04.jpg">
      </md-card>
    </div>

    <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/05.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/06.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/07.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/08.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/09.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/10.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/11.jpg">
      </md-card>
    </div>

     <div class="col-md-6">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/sobre/12.jpg">
      </md-card>
    </div>

    
    

  </div>
</div>