h2.h-titulo {
    text-align: center;
    color: #fff;
    background: #FFB74D;
    padding: 20px 0;
}

.sub-titulo{
    font-size: 1.3rem;
    font-weight: lighter;
}

.app-img-header{
    background: url('../../../../assets/header/img-header-sobre.jpg') left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}